<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Мой сайт{% endblock %}</title>
</head>
<body>
    <header>
        <!-- Шапка сайта -->
        <h1>Название сайта</h1>
        <nav>
            <!-- Навигационное меню -->
        </nav>
        <div>
            <!-- Форма входа -->
        </div>
    </header>

    <main>
        {% block content %}
        <!-- Содержимое основной части сайта будет здесь -->
        {% endblock %}
    </main>

    <footer>
        <!-- Подвал сайта -->
        <div>
            <p>Контактная информация</p>
            <p>Почта</p>
            <!-- Другая информация -->
        </div>
    </footer>
</body>
</html>